.container {
	position: relative;
	height: 600px;
}
.img {
	position: relative;
	height: 600px;
	background: url('http://localhost:3000/images/b.webp') no-repeat center center
		fixed;
	background-color: black;
	background-size: cover;
	filter: blur(0.5px);
	z-index: 0;

	&::after {
		content: '';
		background-color: black;

		opacity: 0.35;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.text {
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	top: auto;
	bottom: 60px;
	left: 60px;

	padding: 0 1rem;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 1;
	h3 {
		color: #fff;
		margin-bottom: 1.5rem;
	}
	.button {
		display: inline-block;
		background-color: #fff;
		color: #363636;
		padding: 12px 2.5rem;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 2px;
		z-index: 2;
		border: solid 1px #fff;
		position: relative;
		&:hover {
			color: #fff;
			background-color: transparent;
			transition: all 300ms;
		}
		&:after {
			position: absolute;
			content: 'Shop ALl';
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			right: 0;
			width: 0;
			height: 100%;
			background: white;
			transition: all 0.35s;
			width: 100%;
		}

		&:hover:after {
			content: '';
			opacity: 0;
			width: 0;
		}
	}
	@media screen and (max-width: 800px) {
		left: 15px;
		@media screen and (max-width: 400px) {
			left: 0;
		}
		.button {
			padding: 12px 2.5rem;
			font-size: 14px;
		}
	}
}
